body{
    background-color: black;
    flex-direction: column;
}
    .navbar{
        background-color: lightblue;
    }
    ul{
        flex: 1;
        display: flex;
        flex-direction: row !important;
    }
    .nav-item{
        margin-left: 32%;
    }
    #username{
        width:50%;
        margin-left: 25%;
    }
    main{
        flex: 1 calc(100vh - 110px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:20%;
    }